# ===== Python =====
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===== Virtual Environment =====
venv/
.env/

# ===== Flask =====
instance/
*.log

# ===== OS =====
.DS_Store
Thumbs.db

# ===== VS Code =====
.vscode/

# ===== Test / Cache =====
.coverage
htmlcov/
.pytest_cache/

# ===== SQLite =====
*.sqlite3
*.db
